@media only screen and (max-width: 380px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media only screen and (max-width: 360px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media (max-width:480px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media (max-width: 767px) {
    .ftrNav {
        position: static;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media (max-width: 660px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media (max-width: 606px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media (max-width: 600px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}

@media only screen and (max-width: 991px) {
    .ftrNav {
        position: static;
        bottom: -51px !important;
        height: 0;
    }
    .lgoWrapHm {
        padding-bottom: 0;
    }
    .m-b-50 {
        margin-bottom: 99px;
    }
    .modal-content {
        width: 75%;
    }
    .MsgPrmptHM {
        width: 88%;
        left: 5%;
        top: 30%;
    }
    .MsgPrompt {
        width: 88%;
        left: 5%;
    }
    .wrapMsgPrompt {
        width: 88%;
        left: 5%;
    }
    .lgoTxtHmMBVw {
        display: block;
        position: relative;
        top: 185px;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }
    .mblMenu {
        z-index: 1;
    }
    .lgoImage {
        width: 13%;
        margin: 22px 0px 22px 0;
    }
    .tpLogoWrap {
        position: absolute;
    }
    .ftrWrap {
        height: 120px;
    }
    .ftrTp {
        display: block !important;
        height: 89px !important;
    }
    .lgoTEXTHm {
        font-size: 1.6em;
    }
    .app-logo {
        margin-top: 15px;
    }
    .lgoTxt {
        top: 9px;
        left: 183px;
    }
}